@model Veidibokin.Models.GroupViewModel
@{
    ViewBag.Title = "Búa til hóp";
}

<div class="margin-top">
    @Html.Partial("_logo")
</div>
<hr />
<h3>Búa til hóp</h3>

<div>
    <div class="form">
        @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <div>
                    @Html.TextBoxFor(m => m.myGroup.groupName, new { @placeholder = "Nafn hóps" })
                </div>
                <div>
                    @Html.TextAreaFor(m => m.myGroup.groupDescription, new { @placeholder = "Lýsing hóps", @class = "form-group margin-top textBoxStatus" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.myGroup.groupPic, new { type = "file", @class = "" })
                </div>
                <div>
                    <input type="submit" class="btn btn-success margin-top" id="submit" value="Stofna hóp" />
                </div>
            </div>
        }
    </div>
</div>
