@model Veidibokin.Models.GroupViewModel
@{
    ViewBag.Title = "CreateGroup";
}
<br />
<div class="margin-top">
    @Html.Partial("_logo")
</div>
<hr />
<h3>Búa til hóp</h3>

<div>
    @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.TextBoxFor(m => m.myGroup.groupName, new { @placeholder = "Nafn hóps" })
        @Html.TextBoxFor(m => m.myGroup.groupDescription, new { @placeholder = "Lýsing hóps" })
        @Html.TextBoxFor(m => m.myGroup.groupPic, new { type = "file", @class = "btn btn-default" })
        <input type="submit" class="btn btn-primary" id="submit" value="Stofna hóp" />
    }
</div>
