
<div>
    <span>
        <a href="http://localhost:52592/">
            <img src="~/Content/Images/logo.png" alt="Missing logo" height="50" width="50" />
        </a>
    </span>
    <span class="pull-right">
        <span>
            @Html.ActionLink("Til baka", "Index", "Home", null, new { @class = "btn btn-info primary" })
        </span>
    </span>
</div>