@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-orange">Locked out.</h1>
    <h2 class="text-orange">This account has been locked out, please try again later.</h2>
</hgroup>
