body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {

}
.Status {
    width: 300px;
    height:100px;
    margin-right:50px;
    resize:none;
}

/* Miðjar texta, MH */
.center {
  text-align:center;
}
/* Tekur punkta fyrir framan ul burt, MH */
#list-no-style {
    list-style-type: none;
}
/* Flæðir til hægri, MH */
.float-right {
    float: right;
} 
/* Flæðir til hægri, MH */
#float-right {
    float: right;
} 
/* Bakgrunnsmynd á síðunni, MH */
.background-image {
    background-image: url(/Content/Images/fishhook.jpg)
}
/* Body bakgrunnslitur-grænn, MH */
#green-background {
    background-color: #788b49;
}
/* Orange */
#orange {
    color: #c02000;
}
.text-orange {
    color: #C02000;
}

.Links {
    color: black;
    text-decoration-line:none;
}

.Links:hover{
    
    text-decoration:none;
}

.margin-top {
    
    margin-top: 20px;
}

.margin-bot {
    
    margin-bottom: -25px;
}

.searchBox {
    
    width:300px;
}

.textBoxStatus {

    width:300px;
    height:100px;
    resize: none;
}