body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {

}
.UserStatus {
    width: 300px;
    height:100px;
    margin-right:50px;
    resize:none;
}

/* Miðjar texta, MH */
.center {
  text-align:center;
}
/* Tekur punkta fyrir framan ul burt */
#list-no-style {
    list-style-type: none;
}
/* Flæðir til hægri */
.float-right {
    float: right;
} 
<<<<<<< HEAD
.padding-top {
    padding-top: 30px;
}
=======


>>>>>>> 78074abdd6905b2e22a1850e8967f84b6a1ff26e
