@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Veiðibókin.is er samfélagsmiðill ætlaður fyrir áhugamenn um veiði. Á síðunni getur veiðimaður
    sett inn færslur um sína veiði og deilt með þeim sem fyglja honum. Á sama hátt getur veiðimaður
    fylgt öðrum og séð færslur frá þeim sem hann fylgir.
</p>
