@{
    ViewBag.Title = "Contact";
}
<br />
<span>
    <span>
        <img src="/Content/Images/logo.png" alt="Missing logo" height="100" width="100" />
    </span>
</span>
<span class="pull-right">
    <span>
        @Html.ActionLink("Til baka", "Index", null, new { @class = "btn btn-info primary" })
    </span>
</span>
<hr />
<div>
    <h3>Upplýsingar um meðlimi hópsins</h3>
    <h4>Þú getur náð í einstaka meðlimi hópsins með því að smella á nafn viðkomandi og sent honum póst</h4>
    <div class="well">
        <p><a href="mailto:geir10@ru.is?Subject=Veidibokin.is" target="_top">Geir Eggertsson</a></p>
        <p><a href="mailto:gudmundurr@ru.is?Subject=Veidibokin.is" target="_top" ">Guðmundur Rafn Gylfason</a></p>
        <p><a href="mailto:kristjanah13@ru.is?Subject=Veidibokin.is" target="_top" ">Kristjana Magnea Hilmarsdóttir</a></p>
        <p><a href="mailto:oddur14@ru.is?Subject=Veidibokin.is" target="_top" ">Oddur Carl Thorarensen</a></p>
        <p><a href="mailto:olfurks10@ru.is?Subject=Veidibokin.is" target="_top" ">Ólafur Kári Sigurbjörnsson</a></p>
    </div>
</div>