@model Veidibokin.Models.UserStatus

@{
    ViewBag.Title = "Home Page";
}
<!-- Hér ætlum við að vera með "Fish Feed" síðuna, sem birtist þegar notandinn er innskráður. -->

<div>
    <img src="/Content/Images/logo.jpg" alt="Missing logo" />
</div>
<hr />
<div class="row">
    <div class="col-md-4"> 
        
        <section>
            
          @* @using (Html.BeginForm("NewUserStatus", "Content"))*@
          @* { *@
            <input type="hidden" name="userStatusID" value="" />
                <div class="form-horizontal">
                    <label class="sr-only" for="reviewtext">UserStatus</label>
                    <textarea class="UserStatus" id="UserStatus" name="UserStatus" placeholder="Hvað liggur þér á hjarta?"></textarea>
                </div>  
                    <!--<input type="checkbox" name="postOnWall" value="Bike"> Setja á vegg?<br>
                    <select multiple>
                        <option value="hopur1">Hopur1</option>
                        <option value="hopur2">Hopur2</option>
                        <option value="hopur3">Hopur3</option>
                        <option value="hopur4">Hopur4</option>
                    </select>
                        -->
                    <br />
                <div>
                    <button type="submit" class="btn btn-primary">Birta</button>
                </div>
                @Html.ValidationSummary(false)
            @* } *@
        </section>
        <section>
            <h4>Nýjustu færslurnar</h4>
            @* @foreach (var Status in Model.UserStatus)
            {
                <p>@review.Username | @review.Text</p>
            }*@
        </section>
    </div>
    <div class="col-md-4"> 
        <!-- tæint "div, MH"-->
    </div>
    <div class="col-md-4"> 
        <!-- tómt "div", MH -->
    </div>
</div>
