@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="/Content/Images/logo.jpg" alt="Missing logo" />
</div>
<hr style="border-color:black;" />
<div class="row">
    <div class="col-xs-4"> <!-- xs fyrir farsíma, MH -->
        <!-- tómt "div", MH -->
    </div>
    <div class="col-xs-4"> <!-- xs fyrir farsíma, MH -->
        <form action="process.asp" method="post">
            <fieldset>
                <div>
                    <div class="center" style="padding:5px;">
                        <input type="submit" value="Nýskráning" />
                        <span style="float:right" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </div>
                    <div class="center" style="padding:5px;">
                        <label accesskey="N" for="Nn" />
                        <input type="text" placeholder="Notandanafn" name="Nn" id="Nn" />
                    </div>
                    <div class="center" style="padding:5px;">
                        <label accesskey="L" for="Lo" />
                        <input type="text" placeholder="Lykilorð" name="Lo" id="Lo" />
                    </div>
                    <div class="center" style="padding:5px;">
                        <input type="submit" value="Innskrá" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-4"> <!-- xs fyrir farsíma, MH -->
        <!-- tómt "div", MH -->
    </div>
</div>
