@{
    ViewBag.Title = "Home Page";
}
<!-- Hér ætlum við að vera með "Fish Feed" síðuna, sem birtist þegar notandinn er innskráður. -->
<div>
    <img src="/Content/Images/logo.jpg" alt="Missing logo" />
</div>
<hr style="border-color:black;" />
<div class="row">
    <div class="col-md-4"> 
        <!-- tómt "div", MH -->
    </div>
    <div class="col-md-4"> 
        <!-- tæint "div, MH"-->
    </div>
    <div class="col-md-4"> 
        <!-- tómt "div", MH -->
    </div>
</div>
