@model Veidibokin.Models.UserStatusViewModel

@{
    ViewBag.Title = "PostCatch";
}
<br />
<span>
    <span>
        <img src="/Content/Images/logo.png" alt="Missing logo" height="100" width="100" />
    </span>
</span>
<span class="pull-right">
    <span>
        @Html.ActionLink("Til baka", "Index", null, new { @class = "btn btn-info primary" })
    </span>
</span>
<hr />
    <div class="statusContainer" id="statusform">
        @using (Html.BeginForm("PostStatus", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(m => m.myFeed.statusText, new { @Value = "", @class = "UserStatus", @id = "UserStatus", @name = "UserStatus", @placeholder = "Hvað liggur þér á hjarta?" })
            <br />
            <label for="photo"></label>
            @Html.TextBoxFor(m => m.myPic, new { type = "file" })
            <br />
            <input type="submit" class="btn btn-primary" id="submit" value="Birta" />
        }
        <br />
    </div>
