@model Veidibokin.Models.SearchResultViewModel

@{
    ViewBag.Title = "SearchResult";
}
@using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
{
    <p>
        @Html.TextBox("searchString")
        <input id="searchString" type="submit" value="Leita" />
    </p>
    
    @Html.Partial("SearchPartialview")
}
