@model Veidibokin.Models.SearchResultViewModel

@{
    ViewBag.Title = "SearchResult";
}
<br />
<div id="searchform">
    @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
    {
        <p>
            @Html.TextBox("searchString")
            <input id="searchString" type="submit" value="Leita" />
        </p>
    }
</div>
    @Html.Partial("_WaitMessage")

    <div id="results">
        <table class="table-striped">
            @foreach (var item in Model.mySearchResultList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.searchResultText)
                    </td>
                </tr>
            }
        </table>
        
    </div>
