@using System.Web.Mvc.Html
@model  Veidibokin.Models.SearchResultViewModel
<table>
    <h2>Þetta fannst :</h2>
    @foreach (var item in Model.mySearchResultList)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.searchResultText)
        </td>
    </tr>
    }
</table>